.getItList {
  list-style: none;
  padding: 0;
  margin: 2em 0;
  // max-width: 37em;

  @media (min-width: 50em) {
    margin: 6em auto;
  }
}

.getItList-item {
  text-align: center;

  & + & {
    margin-top: 3em;
    @media (min-width: 50em) {
      margin-top: 4em;
    }
  }

  // @media (min-width: 50em) {
  //   @include box-sizing(border-box);
  //   display: inline-block;

  //   &.icon-bower {
  //     width: 68%;
  //   }
  //   &.icon-github {
  //     width: 31%;
  //   }
  // }
}

.bower {
  white-space: nowrap;
  font-family: Monaco, monospace;
  background-color: #F3F3F3;
  border: 1px solid #E4E4E4;
  border-radius: 0.375em;
  padding: 0.5rem;
  font-size: 0.875em;

  @media (min-width: 50em) {
    padding: 0.5rem 0.875rem;
    font-size: 1.125em;
  }
}

.download {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1em;
  color: white;
  background-color: #50B7C8;
  border: 1px solid darken(#50B7C8, 10%);
  border-radius: 0.375em;

  @media (min-width: 50em) {
    padding: 0.5rem 0.875rem;
    font-size: 1.25em;
  }
  // display: inline-block;
  // font-weight: bold;
  // color: #fff;
  // white-space: nowrap;
  // vertical-align: middle;
  // cursor: pointer;
  // border: 1px solid #D5D5D5;
  // border-radius: 3px;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  // -webkit-appearance: none;
  // text-shadow: 0 -1px 0 rgba(#000, 0.25);
  // background-color: #60b044;
  // @include background-image(linear-gradient(#8add6d, #60b044));
  // border-color: #5CA941;
  // text-decoration: none;
  // font-family: helvetica;
  // font-size: .8em;
  // line-height: 1.8;
  // padding: 0.2em 0.8em;
  // letter-spacing: 0.02em;
}
