/* Error: Undefined mixin.
 *    ,
 * 18 |   @include box-sizing('border-box');
 *    |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss/_main.scss 18:3  @import
 *   scss/base.scss 11:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 18 \2502    @include box-sizing('border-box');\a    \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss/_main.scss 18:3  @import\a   scss/base.scss 11:9   root stylesheet";
}
