.getItList {
  list-style: none;
  padding: 0;
  margin: 2em 0;

  @media (min-width: 50em) {
    margin: 6em auto;
  }
}

.npm {
  white-space: nowrap;
  font-family: var(--font-code);
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 0.375rem;
  padding: 0.5rem;
  font-size: 1rem;
  
  @media (prefers-color-scheme: dark) {
    background-color: hsl(0, 0%, 5%);
    border: 1px solid hsl(0, 0%, 15%);
  }

  @media(min-width: 50em) {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
  }
}

.getItList-item {
  text-align: center;

  & + & {
    margin-top: 3em;
    @media (min-width: 50em) {
      margin-top: 4em;
    }
  }
}

.download {
  text-decoration: none;
  padding: 0.75rem 1.75rem;
  font-size: 1.25rem;
  color: var(--color-bg);
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent-dark);
  border-radius: 0.375em;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  
  &:hover {
    border-color: hsl(0, 0%, 10%);
    background-color: var(--color-text);
  }

  @media (min-width: 50em) {
    padding: 0.75rem 2rem;
    font-size: 1.5em;
  }
}
