body {
  font-family: "Avenir Next", "Helvetica Neue", Arial, sans-serif;
  color: #686868;
  background-color: white;
  margin: 0;
}

a {
  color: #50B7C8;
}

code {
  font-family: Monaco, monospace;
}

.content-wrapper {
  box-sizing: border-box;
  width: 95%;
  max-width: 50em;
  margin: 0 auto;
}

.main-heading {
  font-size: 1em;
  text-indent: -99999px;
  overflow: hidden;
  text-align: center;
  max-width: 40em;
  margin: 1em auto;
  background-size: contain;
  background-position: center center;

  @media(min-width: $bp-medium) {
    margin: 3em auto;
  }

  &:after {
    padding-top: (180/964)*100%;
    content: '';
    display: block;
  }
}

.tagline {
  color: #acacac;
  text-align: center;
  margin: 0;
}

.description {
  font-size: 1.125em;
  @media(min-width: $bp-medium) {
    font-size: 1.5em;
  }
}

.demo-area {
  color: #fff;
  height: 4em;
  margin: .5em auto;
  // border: 1px solid #686868;
  border-radius: 0.375em;
  text-align: center;
  font-size: 1.7rem;
  line-height: 4em;
  transition: background-color 0.5s ease;
  background-color: #537e91;

  @media (min-width: $bp-medium) {
    height: 5em;
    font-size: 2rem;
    line-height: 4.9;
  }
}

.blue {
  background-color: #50b7c8;
}

.orange {
  background-color: #557e85;
}

.green {
  background-color: #8a8a8a;
}

.option {
  border-bottom: 1px solid #686868;
}

.section-heading {
  margin-top: 2em;
  font-size: 1.5em;
  color: #50B7C8;

  @media (min-width: $bp-medium) {
    font-size: 1.9em;
  }
}
